@charset "utf-8";

/*******************************************************

	@ 폼요소

*******************************************************/
input[type=text],
input[type=number],
input[type=email],
input[type=url],
input[type=tel],
input[type=password]{position:relative;display:inline-block;width:100%;padding:18px;text-align:left;font-size:14px;line-height:1;color:#000;background-color:#fff;font-weight:300;border:1px solid #E8E7EF;border-radius:3px;box-shadow: 0 2px 4px 0 rgba(227,227,227,0.5);box-sizing:border-box;transition:all .2s ease-in-out;}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input[type=password]:focus,
textarea:focus,
select:focus,
input[type=text].active,
input[type=number].active,
input[type=email].active,
input[type=url].active,
input[type=tel].active,
input[type=password].active,
textarea.active {outline:none;border:1px solid #1c47bb !important;}

form{margin:16px 0;}
label{font-size:16px;}